body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* background-color:black */
    background: linear-gradient(0deg, #000, #262626);
}

.wrapper{
    position: relative;
    width: max-content;
    height: 250px;
    padding: 20px;
    background: linear-gradient(0deg, #000, #262626);
    border-radius: 10px;
    box-shadow: 5px 5px 15px 0px black;
    transition: height 0.2s ease;
}

.wrapper.active{
    height: 500px;
}

header h1{
    color: #fff;
    margin-top: 2px;
    text-align: center;
}

header p{
    text-align: center;
    color: #fff;
    font-size: small;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.form{
    margin-top: 20px;
}

.form :where(input, button){
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 10px;
}

.form input{
    border: 1px solid #999;
    padding: 2px;
}

.form button{
    border: 1px solid #999;
    padding: 2px;
    cursor: pointer;
    background: linear-gradient(0deg, #000, #262626);
    color: #fff;
    margin-top: 20px;
    font-size: 15px;
}

.wrapper .qr-code{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    padding: 0px 22px;
    margin-top: 20px;
    opacity: 0;
    pointer-events: none;
}

.wrapper.active .qr-code{
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.05s ease;
}

.wrapper.shadow:before,
.wrapper.shadow:after{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    background: linear-gradient(
        45deg,
        #fb0094,
        #0000ff,
        #00ff00,
        #ffff00,
        #ff0000,
        #fb0094,
        #0000ff,
        #00ff00,
        #ffff00,
        #ff0000
    );
    background-size: 400%;
    z-index: -1;
    animation: shadow 20s linear infinite;
}

.wrapper.shadow:after{
    top: -8px;
    left: -8px;
    width: calc(100% + 16px);
    height: calc(100% + 16px);
    filter: blur(14px);
    opacity: 0.9;
}

@keyframes shadow{
    0%{
        background-position: 0 0;
    }
    50.01%{
        background-position: 200% 0;
    }
    100%{
        background-position: 0 0;
    }
}
